            {% extends 'common/base.html' %}

            {% block content %}
            {% load static %}
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>About Us</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
			
			  <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="{% static "img/about.jpg" %}" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header text-left">
                                <p>Welcome to Box Bulk Containers</p>
                                <h2>25 Years Experience</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    Box Bulk Containers, We are leading selers of New shipping containers and second hand shipping containers, Mobile batching plant and Cherry pickers. Our wish it to satisfy all our customers by suppling quality shipping containers for storage, batching plants with high standard and guarantee. We do delivery on crane truck anywhere in Australia and crose boder countries. Our batching plants, Cherry pickers and containers come with 12 months warranty, spears are always available and we offer after sales services
                                </p>
                                <p>
                                    Box Bulk Containers supplies new and second-hand shipping containers in a range of sizes and designs for either hire or sale. There are numerous designs of shipping container, but the majority are what are termed “dry van containers”, these carry general freight. There are other designs such as refrigerated containers for transporting deep-frozen or chilled cargoes, and others which are generally called “special containers” (see below) These tend to be specifically designed for certain cargoes. All shipping containers must conform to international standards such as ISO, UIC, TIR, and CSC. Because containers are mass produced and designed for a harsh marine environment, they lend themselves to a cheap, moveable, and secure storage unit. Box Bulk Containers can recommend you the right type of container to meet your needs whether that is for shipping cargo or for storage purposes.
                                </p>
                                <a class="btn" href="about.html">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->
			
			 <!-- About Start -->
                        <div class="about wow fadeInUp" data-wow-delay="0.1s">
                            <div class="container">
                                <div class="row">
                                                    
                                    <div class="col-lg-12 col-md-12">
                                    
                                        <div class="about-text">
                                        <h2>All About Our Nationwide Container Company</h2>
            <p>We supply containers for sale or containers for hire, whichever suits the customer’s specific requirements and we can arrange delivery and off-loading to your premises anywhere in Australia. Alternatively, customers can arrange their own collection from one of our Australian depots.</p>
            <p>Box Bulk Containers are a well-respected and reputable multi-award-winning company offering all types and sizes of new and used shipping containers nationwide.</p>
            <h3>Why Choose Us?</h3>
            <p>It's simple, the team at Box Bulk Containers Ltd offer a hassle-free container supply process plus the best possible price for shipping or storage containers for sale or hire within Australia.</p>
            <p>We guarantee the quality of our containers and our service. Collectively we have decades of experience within the container sales and container hire industry.</p>
            <p>We are customer-focused, efficient and offer the best possible prices for container rental and shipping container sales throughout Australia.</p>
            <p>Our hauliers are selected by their reliability and adhere to the latest health and safety legislation.</p>
            <p>Some of our competitors offer end of life containers at low prices, we, however, believe in customer service and customer satisfaction. We sell good quality new and used containers that are guaranteed to be fit for purpose.</p>
            <p>Our guarantee and our professionalism offer customers total confidence and peace of mind, that’s why we have a 99% customer satisfaction rate. Once our customer, always our customer!</p>
            <h3>Our Container Services Include:</h3>
            <ul>
            <li><a href="shipping-containers.html">Shipping Containers</a></li>
            <li><a href="storage-containers.html">Storage Containers</a></li>
            <li><a href="refrigerated-containers.html">Refrigerated Containers</a></li>
            <li><a href="tunnel-containers.html">Tunnel Containers</a></li>
            <li><a href="side-access-containers.html">Side Access Containers</a></li>
            <li><a href="high-cube-containers.html">High Cube Containers</a></li>
            <li><a href="containers-for-sale.html">Containers For Sale</a></li>
            <li><a href="containers-for-hire.html">Containers For Hire</a></li>
            <li><a href="container-conversions.html">Container Conversions</a></li>
            </ul>
            <h3>Our Mission Statement</h3>
            <p>Here at Box Bulk Containers Ltd, our mission statement is to provide high-quality storage solutions to the nation whilst maintaining a competitive pricing structure and premium customer service.</p> 
            </div>
                        </div>
						
						</div>
                    </div>
                </div>
            </div>
            <!-- About End -->
             <!-- Fact Start -->
            <div class="fact">
                <div class="container-fluid">
                    <div class="row counters">
                        <div class="col-md-6 fact-left wow slideInLeft">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-worker"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">109</h2>
                                        <p>Expert Workers</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-building"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">485</h2>
                                        <p>Happy Clients</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 fact-right wow slideInRight">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-address"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">789</h2>
                                        <p>Completed Projects</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-crane"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">190</h2>
                                        <p>Running Projects</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fact End -->
            {% endblock %}