{% extends 'common/base.html' %}

{% block content %}
{% load static %}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Container Commissioning</h2>
            </div>
            <div class="col-12">
                <a href="index.html">Home</a>
                <a href="container-commissioning.html">Container Commissioning</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
					    <div class="section-header text-left">
                            <h2>Container Commissioning</h2>
                        </div>               
                        <div class="col-lg-12 col-md-12">
                            <div class="about-text">
                               <h2>Commissioning the container at your premises</h2>
<p>Upon placing your refrigerated container hire order with Box Bulk Containers, we will arrange a suitable delivery date. After taking delivery (refer to our delivery guidelines for full delivery information), one of our engineers will attend your premises to commission the container.</p>
<h3>customers responsibility</h3>
<p>The customer is responsible to ensure a correct 3 phase power with independent 5 pin socket is supplied before we attend. Upon taking delivery of your container and ensuring it is positioned on level ground we will arrange for a commissioning engineer to attend your premises, this may be the same day as delivery or in some instances the following day. Customers are advised to ensure all operatives are available when the engineer arrives for a full understanding of the way the machinery operates and how to load and maintain it.</p>
<h3>What We Do</h3>
<p>The engineer will plug in the container, set your required temperature and give operational guidance and advice on how to look after your container. If you have hired the container, once you have signed our commissioning notes, you are eligible for our call out service on the machinery section, providing you operate it, by following our commissioning terms &amp; conditions. If you have purchased this container, signing our commissioning notes will activate any warranty as per quotation.</p>
<h3>On-site commissioning consists of:</h3>
<ul>
<li>The final check that you have adequate and safe power to operate the container (this can only be checked from the socket – i.e. not back to your electrical board – that aspect is the customer’s responsibility).</li>
<li>Plugging in of the container cable into your socket.</li>
<li>Setting in your required temperature.</li>
<li>Instructions how to load (i.e.) ensure airflow is available.</li>
<li>Full walkthrough user guidelines and usage.</li>
<li>Instructions on keeping the container ice-free.</li>
</ul>
<p>&nbsp;</p>
<p>Our engineer will leave your site upon customer satisfaction and signed paperwork being completed. Thereafter customers hiring our containers are covered by our 24-hour emergency breakdown service providing the container is operated correctly and to our guidelines.</p>
<h3>After Commissioning</h3>
<p>Before you load your container, ensure it has achieved your required temperature, and you are confident to load. Our containers are designed as holding units only, they are not blast freezers and you should never attempt to operate these in this way as you may be liable for damages.</p>
<p>They are designed to store products/cargo at approximately the same temperature the cargo is loaded at (i.e.) set the temperature on the container at -20 then you must load at -18 to -20.</p>
<p>You are responsible for checking the container at least 3 times per day or more frequently if your internal policies require. A minimum allowance of 5ft in space is essential at the external machinery end to ensure correct airflow and access for our engineer. You must keep the container clean internally and externally.</p>
<p>Internal lighting is classed a consumable, therefore if the lights are working upon commissioning thereafter replacement tubes are the customer's liability.</p>
<p>The customer is responsible for ensuring the container at full replacement value and it's contents, against any loss of contents or third-party claims relating to the use of these containers as Box Bulk Containers Ltd accepts no responsibility for any loss or consequential loss whatsoever or howsoever, caused by failure of monitoring the container or genuine machinery faults.</p>
                                </div>                
                            </div>
                        </div>	
                    </div>
                </div>
            </div>
            <!-- About End -->     
{% endblock %}