{% extends 'common/base.html' %}

{% block content %}
{% load static %}
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Container Site Survey</h2>
                        </div>
                        <div class="col-12">
                            <a href="index.html">Home</a>
                            <a href="container-site-surveys.html">Container Site Survey</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
					       <div class="section-header text-left">
<h2>Container Site Survey</h2>
                            </div>               
                        <div class="col-lg-12 col-md-12">
                           
                            <div class="about-text">
                               <h2>Do you require a container site survey?</h2>
<p>Box Bulk Containers offer a container site survey service that will advise whether your site is accessible for a container delivery.&nbsp;</p>
<p>This is required in certain tight or restricted sites to&nbsp;ensure whether logistically a container/containers can be delivered to your premises. The cost of this site survey is dependent upon location and time frame, please contact one of our team for further information.</p>
<h3>Site Surveys Information</h3>
<p>Box Bulk Containers only use approved haulage contractors for all our container deliveries, these contractors have been thoroughly vetted to the highest health &amp; safety regulations.</p>
<p>Please refer to our <strong><a href="deliveries.html">delivery guidelines page</a></strong>, should you still be unsure as to whether your premises/access is suitable. If you are still unsure, please <strong><a href="contact.html">contact us</a></strong>.</p>
<p>Check our delivery guidelines as below, thereafter by arrangement, we can send one of our approved haulage contractors to your premises.</p>
<h3>Approximate Guide:</h3>
<ul>
<li>Is your site suitable for a 35′ Long x 9.5′ wide rigid vehicle? (1 x 20′ containers are usually delivered on vehicles of this approx. size.)</li>
<li>Is your site suitable for a 62′ Long x 9.5” wide rigid vehicle? (40’ containers are usually delivered on vehicles of this approx. size.)</li>
<li>Is your premises/proposed delivery location on hard standing ground (ie not grass as our vehicles do not leave hard standing)</li>
<li>Does your site have any underground cables, overhead cables or manholes that our vehicles would have to drive over?</li>
<li>Does your site location have any other obstacles such as overhanging trees or anything else that may impede delivery?</li>
</ul>
<p><br />Our Container Site Surveys are carried out in good faith and guarantee accessibility, however, the levelling on the land and the site conditions on the specific day are fully the customer's responsibility.</p>
<p>Once your container site survey is completed and accessibility has been confirmed, a delivery date will be agreed.</p>
<p>Please be aware all deliveries are undertaken on the best efforts-basis due to motorway/traffic conditions and potential delays on any deliveries scheduled before your delivery.</p>
<p>Please <strong><a href="contact.html">contact</a></strong> one of our team to discuss your container site survey requirements.</p>
                                
                            </div>
                        </div>
						
						
                    </div>
                </div>
            </div>
            <!-- About End -->
{% endblock %}