{% extends 'common/base.html' %}

{% block content %}
{% load static %}
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Tunnel Containers</h2>
                        </div>
                        <div class="col-12">
                            <a href="index.html">Home</a>
                            <a href="tunnel-containers.html">Tunnel Containers</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
					       <div class="section-header text-left">
<h2>Tunnel Containers</h2>
                            </div>               
                        <div class="col-lg-12 col-md-12">
                           
                            <div class="about-text">
                              <h2>Do you need a tunnel container?</h2>
<p>Containers&nbsp;4 Sale UK Ltd, offer a wide range of Tunnel Containers (Also known as Tunnel Tainer), available new &amp; used, in 20ft and 40ft sizes.</p>
<p>These&nbsp;<strong>Tunnel Containers</strong>&nbsp;are classed as a special build container and non-standard, therefore they are generally considerably more expensive than a standard double end door shipping container. They are however extremely versatile offering entry from either end, both ends being fully lockable. They are often used in on-site storage, also known as self-storage with a partition manufactured in the centre offering 2 fully divided 10ft storage units.</p>
<h3>Normal specification of&nbsp;<strong>Tunnel Containers</strong></h3>
<ul>
<li>20ft or 40ft in length</li>
<li>Used Tunnel container or new one way shipped Tunnel Container</li>
<li>External dimensions 20ft long or 40ft long x 8ft wide x 8ft 6ins high</li>
<li>Standard containerised double doors at both ends</li>
<li>Suitable for shipment or storage – if shipping please advise when we quote</li>
<li>Tare Weight 2,380 kg</li>
<li>Maximum load 28,325 kg</li>
<li>Marine plywood flooring</li>
<li>Multi-purpose, ideal for self-storage and easy loading at both ends</li>
</ul>


                        </div>
						
						
                    </div>
                </div></div>
            </div>
            <!-- About End -->
            {% endblock %}