{% extends 'common/base.html' %}

{% block content %}
{% load static %}
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>24/7 Technical Support</h2>
                        </div>
                        <div class="col-12">
                            <a href="index.html">Home</a>
                            <a href="24-7-technical-container-support.html">24/7 Technical Support</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
					       <div class="section-header text-left">
<h2>24/7 Technical Support</h2>
                            </div>               
                        <div class="col-lg-12 col-md-12">
                           
                            <div class="about-text">
                                <h3>Rental Storage Containers (non-refrigerated)</h3>
<p>Should you have any major issues with any non-temperature controlled containers on hire from Box Bulk Containers, please contact our head office within normal working hours Monday to Friday on 063 135 0759. This also applies to replacement padlocks.</p>
<h3>Temperature Controlled Rental Containers</h3>
<p>Call-Out Procedures/Customer’s Responsibilities</p>
<p><strong>Before contacting our 24-hour support line, customers must:</strong></p>
<ul>
<li>Ensure the power supply to the unit is fully functional.</li>
<li>Check the container at least 3 times a day to ensure the temperature reading is remaining constant. You must keep a record of this.</li>
<li>Ensure customer’s cargo is allowing sufficient airflow around the container’s interior.</li>
<li>Ensure your product is placed in the container at a similar temperature to the containers set point eg: no ambient temperature product is to be placed in our containers – they are holding units not blast or rapid freezers.</li>
<li>If your container is not working as expected then you must call our support line immediately.</li>
</ul>
<h3>We will ask you the following questions:</h3>
<ul>
<li>What is the current temperature?</li>
<li>What was the last recorded temperature and when?</li>
<li>When was the container last at the correct temperature?</li>
<li>Have you probed the cargo and when?</li>
<li>Are the lights working?</li>
<li>Is there any ice build-up anywhere internally or externally on the container?</li>
<li>Is the container fully loaded?</li>
<li>Have the doors been left open for long periods?</li>
<li>What temperature was your product when placed inside the container?</li>
</ul>
<p>&nbsp;</p>
<p>After establishing the above and if necessary we will dispatch an engineer who will endeavour to attend as soon as possible.</p>
<p>Please be advised, should there be an erroneous call out, for example, the problem is the way you have loaded the container, it was in defrost or issues caused by ice build-up or your power supply, the cost will be added&nbsp;to the customer’s account and charged accordingly. The customer is responsible for ensuring its contents against any loss or third-party claims relating to the use of these containers, as Box Bulk Containers Ltd accepts no responsibility for any loss or consequential loss whatsoever, caused by the failure of monitoring the container or genuine machinery faults.</p>
<p>Internal lighting is deemed as consumable therefore we suggest you call your electrician.</p>
<h3>24/7 Container Technical Support Line: <br><br>031 813 5576</h3>

                                
                            </div>
                        </div>
						
						
                    </div>
                </div>
            </div>
            <!-- About End -->
            {% endblock %}