{% extends 'common/base.html' %}

{% block content %}
{% load static %}
            
<!-- Page Header Start -->
<div class="page-header">
<div class="container">
<div class="row">
    <div class="col-12">
        <h2>Containers for sale</h2>
    </div>
    <div class="col-12">
        <a href="index.html">Home</a>
        <a href="containers-for-sale.html">Containers for sale</a>
    </div>
</div>
</div>
</div>
<!-- Page Header End -->


<!-- Team Start -->
<div class="team">
<div class="container">
<div class="section-header text-center">
    <p>Buy a container</p>

</div><br><br>
<div class="section-header text-center">
    <h2>Used Standard Storage Containers</h2>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static "img/C1.png" %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>10ft Storage Used Containers</h2>
                <p>$1500 - $1800 </p>
                
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C2.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>20ft Used Storage Containers</h2>
                <p>$1700 - $2200</p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C3.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>40ft Storage Containers</h2>
                <p>$2500 - $3000</p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
</div>


<div class="section-header text-center">
    <h2>Used Open-Side Containers</h2>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C4.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>10ft Used Open-Side Containers</h2>
                <p>$1500 - $1800 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C5.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>20ft Used Open-Side Containers</h2>
                <p>$1700 - $2200 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C6.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>40ft Used Open-Side Containers</h2>
                <p>$2500 - $3000 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
</div>


<div class="section-header text-center">
    <h2>Used Open-Top Containers</h2>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C7.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>10ft Used Open-Top Containers</h2>
                <p>$1500 - $1800 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C8.png"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>20ft Used Open-Top Containers</h2>
                <p>$1700 - $2200 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C9.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>40ft Used Open-Top Containers</h2>
                <p>$1700 - $3000 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
</div>


<div class="section-header text-center">
    <h2>Used Refrigerated Containers</h2>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C10.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>Used 10ft Refrigerated Containers</h2>
                <p>$2500 - $3000 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C11.png"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>Used 20ft Refrigerated Containers</h2>
                <p>$3500 - $4000 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C12.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>Used 40ft Refrigerated Containers</h2>
                <p>$4300 - $4900 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
</div>


<div class="section-header text-center">
    <h2>Used Tuckshop & Spaza Containers</h2>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C13.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>10ft Tuckshop & Spaza Containers</h2>
                <p>$1500 - $2000 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C14.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>20ft Used Tuckshop & Spaza Containers</h2>
                <p>$2300 - $2600 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C15.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>40ft Used Tuckshop & Spaza Containers</h2>
                <p>$2600 - $3200 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
</div>

<div class="section-header text-center">

    <h2>Used Office Modified Containers</h2>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C16.png"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>10ft Used Office Modified Containers</h2>
                <p>$1500 - $1900 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C17.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>20ft Used Office Modified Containers</h2>
                <p>$1900 - $2500 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C18.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>40ft Used Office Modified Containers</h2>
                <p>$2500 - $3100 </p>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
</div>
<div class="section-header text-center">

    <h2>Used Mobile Kitchens</h2>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C19.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>Used Mobile Kitchens</h2>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C20.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
            <h2>Used Mobile Kitchens</h2>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C21.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>Used Mobile Kitchens</h2>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C22.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
                <h2>Used Mobile Kitchens</h2>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-item">
            <div class="team-img">
                <img src="{% static  "img/C23.jpg"  %}" alt="Team Image">
            </div>
            <div class="team-text">
            <h2>Used Executive Mobile Kitchens</h2>
                <br><a class="page-link" href="{% url  "quotation"  %}">Get A Quote</a>
            </div>
        </div>
    </div>

</div>
</div>
</div>
<!-- Team End -->
{% endblock %}