{% extends 'common/base.html' %}

{% block content %}
{% load static %}
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Container Dimensions</h2>
                        </div>
                        <div class="col-12">
                            <a href="index.html">Home</a>
                            <a href="container-dimensions.html">Container Dimensions</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
					       <div class="section-header text-left">
<h2>Container Dimensions</h2>
                            </div>               
                        <div class="col-lg-12 col-md-12">
                           
                            <div class="uk-margin">
We have a wide range of 6ft Containers available for sale or to hire Nationwide.
<br>
<h3>6ft Dimensions:</h3><br>
<strong>External Dimensions:</strong>
Width: 6' |
Height: 6'</div>
            
   
                     <br><br>    <div class="uk-margin">
<h3>8ft Dimensions:</h3><br>
<strong>External Dimensions:</strong>
Width: 7' 1" |
Height: 7' 5"
<br>
<strong>Internal Dimensions:</strong>
Width: 6' 11" |
Height: 6' 8" |
Length: 7' 6"</div>

    
  
            
            
            
                    <br><br>     <div class="uk-margin">
<h3>10ft Dimensions:</h3><br>
<strong>External Dimensions:</strong>
Width: 7' |
Height: 8' 6"
<br>
<strong>Internal Dimensions:</strong>
Width: 7' 7" |
Height: 7' 9" |
Length: 9' 2"</div>
            
			
			
                     <br><br>    <div class="uk-margin">
<h3>15ft Dimensions:</h3><br>
<strong>External Dimensions:</strong>
Width: 8' |
Height: 8' 6"
<br>
<strong>Internal Dimensions:</strong>
Width: 7' 7" |
Height: 7' 9" |
Length: 14' 2"</div>
            


   
                       <br><br>  <div class="uk-margin">
<h3>20ft Dimensions:</h3><br>
<strong>External Dimensions:</strong>
Width: 8' |
Height: 8' 6"
<br>
<strong>Internal Dimensions:</strong>
Width: 7' 7" |
Height: 7' 9" |
Length: 19' 3"</div>


    
   
                    <br><br>     <div class="uk-margin">
<h3>30ft Dimensions:</h3><br>
<strong>External Dimensions:</strong>
Width: 8' |
Height: 8' 6"
<br>
<strong>Internal Dimensions:</strong>
Width: 7' 7" |
Height: 7' 9" |
Length: 29' 4"</div>
            

   
                    <br><br>     <div class="uk-margin">
   
<h3>40ft Dimensions:</h3><br>
<strong>External Dimensions:</strong>
Width: 8' |
Height: 8' 6"
<br>
<strong>Internal Dimensions:</strong>
Width: 7' 7" |
Height: 7' |
Length: 39' 4"
<br><br><br> 
<h3>40ft High Cube Dimensions:</h3>
<strong>External Dimensions:</strong>
Width: 8' |
Height: 9' 6"
<br>
<strong>Internal Dimensions:</strong>
Width: 7' 7" |
Height: 8' 9" |
Length: 39' 4"</div>
            
			
                <br><br>     <div class="uk-margin">
<h3>45ft High Cube Dimensions:</h3><br>
<strong>External Dimensions:</strong>
Width: 8' |
Height: 9' 6"
<br>
<strong>Internal Dimensions:</strong>
Width: 7' 7" |
Height: 8' 9" |
Length: 44' 6"</div>
                        </div>
						
						
                    </div>
                </div>
            </div>
            <!-- About End -->
			
{% endblock %}