{% extends 'common/base.html' %}

{% block content %}
{% load static %}
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Container Painting</h2>
                        </div>
                        <div class="col-12">
                            <a href="index.html">Home</a>
                            <a href="container-painting.html">Container Painting</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
					       <div class="section-header text-left">
<h2>Container Painting</h2>
                            </div>               
                        <div class="col-lg-12 col-md-12">
                           
                            <div class="about-text">
                               <h2>Are you looking for Container Painting services? Then we can help you!</h2>

<p>Box Bulk Containers offer external repainting of any containers to any colour, please see the industry-standard RAL chart below.</p>
<p><strong><a href="https://www.ralcolor.com/">VIEW INDUSTRY-STANDARD RAL CHART HERE</a></strong></p>
<p>The most cost-effective and standard external painting is either blue or green. Should you require a light colour to be painted, please be aware this will be more expensive as more paint and prep will be required. It is also not ideal for used containers as the rust may show through earlier than a darker colour for example.</p>
<p>Should you require internal painting please contact us for a quotation. The internal painting should always be with a light colour for good visibility inside the container. New shipping containers standardly come in blue or green with light interiors and in some instances may be more cost-effective than purchasing used.</p>

						</div>
                        </div>
						
						
                    </div>
                </div>
            </div>
            <!-- About End -->
            {% endblock %}