{% extends 'common/base.html' %}

{% block content %}
{% load static %}
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Deliveries</h2>
                        </div>
                        <div class="col-12">
                            <a href="index.html">Home</a>
                            <a href="deliveries.html">Deliveries</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->

            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
					       <div class="section-header text-left">
<h2>Fast Container Delivery Nationwide</h2>
                            </div>               
                        <div class="col-lg-8 col-md-8">
                           
                            <div class="about-text">
                                <p>We can deliver and offload any container to any UK destination. Our vehicles are equipped with large cranes and&nbsp;offload to the side of the vehicle.&nbsp;Box Bulk Containers offer a site survey service that will advise you whether delivery is possible at your specific&nbsp;location.</p>
<div>
<h3>Delivery Guidelines Information</h3>
</div>

<ul>
<li>All deliveries are quoted externally to your premises (i.e. not inside the building), delivery time-frame of 7 am to 7 pm as standard.</li>
<li>Ensure your area is level and has a hard standing capacity.</li>
<li>Ensure the location is free from drain or fire exits.</li>
<li>It is the customer’s responsibility to ensure the site/delivery location is accessible and suitable for HGV deliveries.</li>
<li>Our vehicles offload strictly off the side only, ie not from the front or rear. Please ensure there is enough access</li>
<li>Advise us if the container has to be lifted over buildings, walls or any obstructions.</li>
<li>In certain circumstances, if the site conditions are poor we may not be able to deliver your container and may have to abort the delivery at your cost so please ensure we are made aware of every eventuality possible.</li>
<li>All deliveries are made on a best efforts basis.</li>
<li>You must ensure a suitably responsible representative is on-site to meet the vehicle driver.</li>
<li>Please ensure that you are satisfied before the driver leaves your premises.</li>
<li>A signature acceptance to confirm that the unit is in the correct position, the doors operate correctly, padlocks work (if supplied) and there are no defects with the equipment will be required.</li>
<li>Repositioning after delivery will incur an additional charge.</li>
<li>Due to health &amp; safety regulations we only deliver on a hard standing ground (ie) not on grass.</li>
<li>All deliveries are at ground level only unless otherwise mutually agreed.</li>
<li>Should you need to cancel or postpone your delivery we require a clear 48 hours notice. Failure to adhere will result in a minimum 50% charge for your account.</li>
</ul>
<h3>Container Site Surveys</h3>
<blockquote>
<h5>Unfortunately due to Covid-19 Government guidelines, we are currently unable to carry out Site Surveys until further notice.</h5>
</blockquote>
<p>Do you require a site survey to ascertain whether logistically a container/containers can be delivered to&nbsp;your premises? Have you restricted site access or have you a delivery time restriction? <strong>Fees are applicable</strong> for a site survey and are dependent upon location and time frame, please contact one of our team for further information or visit our <a href="/containers/container-site-surveys">Container Site Survey</a> page.</p>

                                
                            </div>
                        </div>
						<div class="col-lg-4 col-md-4">
                            <div class="about-img">
                                <img src="img/about.jpg" alt="Image">
                            </div>
                        </div>
						
                    </div>
                </div>
            </div>
            <!-- About End -->
            
            
            <!-- Fact Start -->
            <div class="fact">
                <div class="container-fluid">
                    <div class="row counters">
                        <div class="col-md-6 fact-left wow slideInLeft">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-worker"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">109</h2>
                                        <p>Expert Workers</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-building"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">485</h2>
                                        <p>Happy Clients</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 fact-right wow slideInRight">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-address"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">789</h2>
                                        <p>Completed Projects</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-crane"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">890</h2>
                                        <p>Running Projects</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fact End -->
{% endblock %}