{% extends 'common/base.html' %}

{% block content %}
{% load static %}
            <!-- Carousel Start -->
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static "img/carousel-1.jpg" %}" alt="Carousel Image">
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">We Are Professionals</p>
                            <h1 class="animated fadeInLeft">For Your Dream Projects</h1>
                            <a class="btn animated fadeInUp" href="quotation.html">Get A Quote</a>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="{% static "img/carousel-2.jpg" %}" alt="Carousel Image">
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">Our Container Conversions</p>
                            <h1 class="animated fadeInLeft"> are only limited to the Imagination.</h1>
                            <a class="btn animated fadeInUp" href="quotation.html">Get A Quote</a>
                        </div>
                    </div>

                    <div class="carousel-item"> 
                        <img src="{% static "img/carousel-3.jpg" %}" alt="Carousel Image">
                        <div class="carousel-caption">
                            <p class="animated fadeInRight">We Are Trusted</p>
                            <h1 class="animated fadeInLeft">Request a free Quote today!</h1>
                            <a class="btn animated fadeInUp" href="quotation.html">Get A Quote</a>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Carousel End -->

            <!-- Feature Start-->
            <div class="feature wow fadeInUp" data-wow-delay="0.1s">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-worker"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Expert Worker</h3>
                                    <p>Meet our qualified and certified workers for innovative and quality output. At Box Bulk Containers we guarantee top quality only.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-building"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Quality Work</h3>
                                    <p>With innovative solutions and proffessionalism, you can expect just quality at Box Bulk Containers. Get in touch today with your ideas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>24/7 Support</h3>
                                    <p>Should you have any major issues with any non-temperature controlled containers on hire from Box Bulk Containers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature End-->

            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="{% static "img/about.jpg" %}" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header text-left">
                                <p>Welcome to Box Bulk Containers</p>
                                <h2>25 Years Experience</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    Box Bulk Containers, We are leading selers of New shipping containers and second hand shipping containers, Mobile batching plant and Cherry pickers. Our wish it to satisfy all our customers by suppling quality shipping containers for storage, batching plants with high standard and guarantee. We do delivery on crane truck anywhere in Australia and crose boder countries. Our batching plants, Cherry pickers and containers come with 12 months warranty, spears are always available and we offer after sales services
                                </p>
                                <p>
                                    Box Bulk Containers supplies new and second-hand shipping containers in a range of sizes and designs for either hire or sale. There are numerous designs of shipping container, but the majority are what are termed “dry van containers”, these carry general freight. There are other designs such as refrigerated containers for transporting deep-frozen or chilled cargoes, and others which are generally called “special containers” (see below) These tend to be specifically designed for certain cargoes. All shipping containers must conform to international standards such as ISO, UIC, TIR, and CSC. Because containers are mass produced and designed for a harsh marine environment, they lend themselves to a cheap, moveable, and secure storage unit. Box Bulk Containers can recommend you the right type of container to meet your needs whether that is for shipping cargo or for storage purposes.
                                </p>
                                <a class="btn" href="about.html">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->

            <!-- Fact Start -->
            <div class="fact">
                <div class="container-fluid">
                    <div class="row counters">
                        <div class="col-md-6 fact-left wow slideInLeft">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-worker"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">109</h2>
                                        <p>Expert Workers</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-building"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">485</h2>
                                        <p>Happy Clients</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 fact-right wow slideInRight">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-address"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">789</h2>
                                        <p>Completed Projects</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-crane"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">190</h2>
                                        <p>Running Projects</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fact End -->

            <!-- Team Start -->
            <div class="container">
                <div class="section-header text-center">
                    <p>What some of our clients say</p>
                    <h2>Testimonials</h2>
                </div>
            </div>
            <!-- Team End -->

            <!-- Testimonial Start -->
            <div class="testimonial wow fadeIn" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-slider-nav">
                                <div class="slider-nav"><img src="{% static "img/testimonial-1.jpg" %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static "img/testimonial-2.jpg" %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static "img/testimonial-1.jpg" %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static "img/testimonial-1.jpg" %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static "img/testimonial-1.jpg" %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static "img/testimonial-1.jpg" %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static "img/testimonial-1.jpg" %}" alt="Testimonial"></div>
                                <div class="slider-nav"><img src="{% static "img/testimonial-2.jpg" %}" alt="Testimonial"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
						          
                            <div class="testimonial-slider">
                                <div class="slider-item">
                                    <h3>Mike Dodson</h3>
                                    <h4>Client</h4>
                                    <p>It was a real pleasure to do business with your company. Excellent customer service, excellent communication, fast and efficient delivery. I highly recommend!</p>
                                </div>
                                <div class="slider-item">
                                    <h3>Khanisile N</h3>
                                    <h4>Client</h4>
                                    <p>As always, was incredibly helpful and patient while we made up our minds what we wanted and when. Excellent delivery service kept constantly updated and containers arrived exactly when expected. Will definitely use Box Bulk Containers again in the near future. Five Star!</p>
                                </div>
                                <div class="slider-item">
                                    <h3> Steven M</h3>
                                    <h4>Client</h4>
                                    <p>Hi Steven, The delivery driver was very helpful and a credit to your business, very accommodating and put the container exactly where we wanted it when I am sure a lot of other delivery drivers would have told us it wasn’t possible to put the container where we wanted it for his own ease. However, your delivery driver rose to the challenge! Kind Regards</p>
                                </div>
                                <div class="slider-item">
                                    <h3>Duke Millow</h3>
                                    <h4>Client</h4>
                                    <p>The staff at Box Bulk Containers are extremely helpful and were a pleasure to deal with. The containers were perfect for our needs and delivery was arranged around our needs also. Thank you for a great service.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>Henry K</h3>
                                    <h4>Client</h4>
                                    <p>My container is spot on and the team at Box Bulk Containers were really helpful during the process. Brilliant Service!</p>
                                </div>
                                <div class="slider-item">
                                    <h3> Georgie L</h3>
                                    <h4>Client</h4>
                                    <p>Good afternoon, I would like to say in one sentence what an excellent company to work with, excellent customer service. Containers arrive at 7.30am on the day ordered. An excellent driver that was very helpful and placed the containers exactly where I wanted them.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>L Mhlambiso</h3>
                                    <h4>Client</h4>
                                    <p>Hi just to say thanks to a job well done. All went very smoothly, this is despite you having to deal with numerous members of our club and dealing with total gridlock on the day of delivery. We were also impressed by the quality of the container itself, and a word for the driver.</p>
                                </div>
                                <div class="slider-item">
                                    <h3>Lynda M</h3>
                                    <h4>Client</h4>
                                    <p>Hi, Many thanks for all your help in getting my container delivered to me in rapid time. The container was delivered in great condition as pictured. The delivery driver was very friendly and helpful. It was a pleasure doing business with yourself and your company.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial End -->
{% endblock %}