{% extends 'common/base.html' %}

{% block content %}
{% load static %}      
            
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Container Modification</h2>
                        </div>
                        <div class="col-12">
                            <a href="index.html">Home</a>
                            <a href="modification.html">Container Modification</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
					       <div class="section-header text-left">
<h2>Container Modification</h2>
                            </div>               
                        <div class="col-lg-12 col-md-12">
                           
                            <div class="about-text">
                               <h2>Do you need a bespoke container conversion?</h2>
<p>Here at Box Bulk Containers Ltd, we offer container conversion services whereby we can convert a container to your requirements. Container conversions are great for creating, for example, container offices, toilets, homes, bike stores, sport changing rooms, market stalls and many more bespoke conversion types.</p>
<p>Container conversions are ideal for generating a bespoke container type and utilising the containers space to create a unique conversion. We offer a variety of container conversion types and you can also request a bespoke conversion that we can look at - to see if we can convert it for you.</p>
<h3>about our container conversions</h3>
<ul>
<li>We offer container conversion services in Australia at one of our container depots (please contact us to learn more about our conversion services).</li>
<li>Select from a variety of container conversion types including market stall conversions, locker room conversions, home conversions, office conversions, bespoke conversions and many more.</li>
<li>Conversions are great for being creative with your shipping container and utilising the space and resources to build your ideal conversion.</li>
<li>Send us a request for a completely bespoke container conversion, such as a sketch or a diagram, and we can discuss your requirements with you.</li>
</ul>
                                
                            </div>
                        </div>
						
						
                    </div>
                </div>
            </div>
            <!-- About End -->
            
    {% endblock %}