{% extends 'common/base.html' %}

{% block content %}
{% load static %}            
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Refrigerated Containers</h2>
                        </div>
                        <div class="col-12">
                            <a href="index.html">Home</a>
                            <a href="refrigerated-containers.html">Refrigerated Containers</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
					       <div class="section-header text-left">
<h2>Refrigerated Containers</h2>
                            </div>               
                        <div class="col-lg-12 col-md-12">
                           
                            <div class="about-text">
                               <h2>Do you need&nbsp;a&nbsp;Temperature Controlled&nbsp;/&nbsp;Refrigerated, Cold Storage Container?</h2>
<p>Here at Box Bulk Containers, we have a large range of refrigerated storage containers available to buy or hire.</p>
<p>Refrigerated containers, sometimes referred to as reefer containers or portable cold store units can store goods at a temperature range of between +25 to -25.&nbsp;We offer a variety of sizes of refrigerated&nbsp;containers to suit every space requirement including 10ft, 20ft, 30ft &amp; 40ft.</p>
<h3>Refrigerated Container hire</h3>
<p>When hiring a refrigerated container, we offer a unique, exclusive 24-hour emergency breakdown service on the machinery section. Our call-out service is manned by our own staff who know you and your business, you will never be put through to a third party call centre. We have engineers based throughout Australia mainland.</p>
<p>Our refrigerated containers for hire are supplied as standard with lightweight aluminium container ramps suitable for handballing or roll cages or non-motorised pallet trucks.</p>
<ul>
<li>Maintenance-free aluminium construction</li>
<li>Unique anti-slip floor</li>
<li>Lightweight and easy-lift 2 person option</li>
<li>750 kgs safe working load – Heavy-duty container bespoke ramps available – please supply your specification</li>
<li>Various lengths and widths of ramps available</li>
</ul>
<h3>Refrigerated Container Features</h3>
<ul>
<li>Temperature ranges between +25 and -25</li>
<li>Environmentally friendly units running on ozone friendly gas refrigerant</li>
<li>Stainless steel interior</li>
<li>Operating on 3 phase power</li>
<li>T-section flooring</li>
<li>Chequer plate aluminium flooring – subject to availability</li>
<li>Containerised double barn doors</li>
<li>Butcher style doors – subject to availability</li>
<li>Fully secure and lockable</li>
</ul>
<h3><strong>Optional Extras</strong></h3>
<ul>
<li>Internal lighting</li>
<li>Anti-tamper grill</li>
<li>Panic alarm</li>
<li>High-security lockbox</li>
<li>External painting</li>
<li>Polar grade curtains</li>
<li>A timer to your requirements</li>
<li>High-security padlocks</li>
</ul>
<h3><strong>Power Requirements</strong></h3>
<ul>
<li>3 phase 380/440 volt supply with earth and neutral</li>
<li>5 pin 32A CE plug is supplied</li>
<li>Isolator required close to the distribution board</li>
<li>Minimum 32 amp motor rated supply with 5 wire socket</li>
<li>Type ‘D’ breaker</li>
</ul>

                            </div>
                        </div>
						
						
                    </div>
                </div>
            </div>
            <!-- About End -->
            {% endblock %}