{% extends 'common/base.html' %}

{% block content %}
{% load static %}
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Side Access Containers</h2>
                        </div>
                        <div class="col-12">
                            <a href="index.html">Home</a>
                            <a href="side-access-containers.html">Side Access Containers</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
					       <div class="section-header text-left">
<h2>Side Access Containers</h2>
                            </div>               
                        <div class="col-lg-12 col-md-12">
                           
                            <div class="about-text">
                               <h2>Do you need a side access container?</h2>
<p>Side&nbsp;Access Containers&nbsp;(also known as full&nbsp;side&nbsp;opening containers) available new &amp; used, in 20ft and 40ft sizes.</p>
<p>Side Access containers are classed as ‘special build’ and are not as easily available to purchase as standard containers. &nbsp;They all command a much higher outright purchase price. &nbsp;This leads to a shortage of used containers of this type, therefore please bear this in mind when you are looking to purchase a side door/side access container from Box Bulk Containers Ltd.</p>
<h3>Side Access Container Features</h3>
<ul>
<li>20ft and 40ft in length</li>
<li>8ft wide and 8ft 6 in height</li>
<li>Side access containers are normally sold as new one way shipped containers – they are less available in used condition</li>
<li>Suitable for shipment with valid CSC plate</li>
<li>Suitable&nbsp;for static storage within Australia</li>
<li>Ideal for limited access with so many door opening options</li>
<li>Door configure in several options for easy loading</li>
<li>Normally offered in&nbsp;colour is Blue, green or brown</li>
<li>Every door is fitted with lock-box facilities ensuring total security</li>
<li>Suitable for conversion to market stalls, temporary or secure mobile shops and the like</li>
</ul>



                        </div>
						
						
                    </div>
                </div></div>
            </div>
            <!-- About End -->
            {% endblock %}