{% extends 'common/base.html' %}

{% block content %}
{% load static %}
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Storage Containers</h2>
                        </div>
                        <div class="col-12">
                            <a href="index.html">Home</a>
                            <a href="storage-containers.html">Storage Containers</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row">
					       <div class="section-header text-left">
<h2>Storage Containers</h2>
                            </div>               
                        <div class="col-lg-12 col-md-12">
                           
                            <div class="about-text">
                               <h2>Do you need a storage container?</h2>
<p>Box Bulk Containers Ltd supply new and used<strong>&nbsp;storage containers</strong>&nbsp;which are available for sale and hire in the United Kingdom. Whether you need to&nbsp;buy a container or hire for short or long term, our storage containers are ideal for all applications. We have container depots nationwide and can&nbsp;deliver your storage container anywhere in Australia. We have many sizes and styles to choose&nbsp;from. The sizes range from 6ft to 45ft.</p>
<h3>New one way Storage Containers</h3>
<p>These containers are one trip or one way shipped from the Far East, this means they have carried one cargo only to transport them into Australia.</p>
<p>They are as standard in blue or green and have slim line lock boxes fitted as standard, they are suitable for shipment or storage. New storage containers come as standard with 5 years CSC plate validity from the date of manufacture.</p>
<p>As they have carried one cargo they may have slight dents or scratches which is industry standard and due to lifting and handling. They are multi vented and of the highest specification in the market place.</p>
<h3>Used Storage Containers</h3>
<p>Used storage containers normally come in the original shipping line colours or livery. They are sold next off the stack and come in a variety of colours. They will have some dents and rust patches and are normally aged between 9 and 15 years. Container life expectancy approx. 25 years. They are guaranteed wind and watertight.</p>
<p>&nbsp;</p>
<h3>Storage Container Features</h3>
<ul>
<li>6ft, 8ft, 10ft, 20ft, 30ft, 40ft &amp; 45ft in length</li>
</ul>
<ul>
<li>Standard height 8” 6’ or 9” 6’ inches referred to as high cubes</li>
</ul>
<ul>
<li>Guaranteed wind and watertight eg fully weatherproof</li>
</ul>
<ul>
<li>Suitable for general-purpose storage of all goods</li>
</ul>
<ul>
<li>Highly secure and suitable for all applications</li>
</ul>
<ul>
<li>Heavy-duty flooring marine ply wooden flooring</li>
</ul>
<ul>
<li>Ventilated to aid in the reduction of condensation</li>
</ul>
<p>&nbsp;</p>

                            </div>
                        </div>
						
						
                    </div>
                </div>
            </div>
            <!-- About End -->
{% endblock %}