<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About Us - Box Bulk Containers </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Box Bulk Containers, We are leading selers of New shipping containers and second hand shipping containers, Mobile batching plant and Cherry pickers. Our wish it to satisfy all our customers by suppling quality shipping containers for storage, batching plants with high standard and guarantee. We do delivery on crane truck anywhere in Australia and cross boder countries." name="keywords">
        <meta content="Box Bulk Containers, We are leading selers of New shipping containers and second hand shipping containers, Mobile batching plant and Cherry pickers. Our wish it to satisfy all our customers by suppling quality shipping containers for storage, batching plants with high standard and guarantee. We do delivery on crane truck anywhere in Australia and crose boder countries." name="description">

        {% load static %}
        <!-- Favicon -->
        <link href="{% static "img/favicon.ico" %}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static "lib/flaticon/font/flaticon.css" %}" rel="stylesheet"> 
        <link href="{% static "lib/animate/animate.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/lightbox/css/lightbox.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/slick/slick.css" %}" rel="stylesheet">
        <link href="{% static "lib/slick/slick-theme.css" %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="logo">
            
                                <a href="{% url "index" %}" class="logo"><img src="{% static "img/logo.png" %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 d-none d-lg-block">
                            <div class="row">
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        
                                        <div class="top-bar-text">
                                            <h3>Opening Hour</h3>
                                            <p>Mon - Sat, 8:00 - 17:30</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        
                                        <div class="top-bar-text">
                                            <h3>Whatsapp</h3>  <p>+{{ owner.mobile_number }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        
                                        <div class="top-bar-text">
                                            <h3>Email Us</h3>
                                            <p>{{ owner.email }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                                <a href="{% url 'about' %}" class="nav-item nav-link active">About</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Service</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url "24-7-technical-container-support" %}" class="dropdown-item">24/7 Technical Support</a>
                                        <a href="{% url "container-commissioning" %}" class="dropdown-item">Container Commissioning</a>
										<a href="{% url 'modification' %}" class="dropdown-item">Modifications</a>
										<a href="{% url "container-site-surveys" %}" class="dropdown-item">Container Site Survey</a>
										<a href="{% url "container-painting" %}" class="dropdown-item">Container Painting</a>
										<a href="{% url "container-dimensions" %}" class="dropdown-item">Container Dimension</a>
                                    </div>
                                </div>
								<a href="{% url 'modification' %}" class="nav-item nav-link">Modifications</a>
								<div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Containers</a>
                                    <div class="dropdown-menu">
                                        <a href="{% url 'refrigerated-containers' %}" class="dropdown-item">Refrigerated Containers</a>
                                        <a href="{% url 'storage-containers' %}" class="dropdown-item">Storage Containers</a>
										<a href="{% url 'shipping-containers' %}" class="dropdown-item">Shipping Containers</a>
										<a href="{% url 'high-cube-containers' %}" class="dropdown-item">High Cube Containers</a>
										<a href="{% url 'tunnel-containers' %}" class="dropdown-item">Tunnel Containers</a>
										<a href="{% url 'side-access-containers' %}" class="dropdown-item">Side Access Containers</a>
                                    </div>
                                </div>
                                <a href="{% url 'containers-for-sale' %}" class="nav-item nav-link">Container Sales</a>
                                <a href="{% url 'deliveries' %}" class="nav-item nav-link">Deliveries</a>
                                <a href="{% url 'faq' %}" class="nav-item nav-link">FAQ</a>
                                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                            </div>
                            <div class="ml-auto">
                                <a class="btn" href="{% url 'quotation' %}">Get A Quote</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->
            
            {% block content %}
            {% endblock %}

            
            <!-- Footer Start -->
            <div class="footer wow fadeIn" data-wow-delay="0.3s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-contact">
                                <h2>Office Contact</h2>
                                <p><i class="fa fa-map-marker-alt"></i>Level 3/97 Pirie St, Adelaide SA 5000 Australia</p>
                                
								<p><i class="fa fa-whatsapp"></i>Whatsapp: +{{ owner.mobile_number }}</p>
                                <p><i class="fa fa-envelope"></i>{{ owner.email }}</p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Services</h2>
                                <a href="{% url "24-7-technical-container-support" %}" class="dropdown-item">24/7 Technical Support</a>
                                <a href="{% url "container-commissioning" %}" class="dropdown-item">Container Commissioning</a>
                                <a href="{% url 'modification' %}" class="dropdown-item">Modifications</a>
                                <a href="{% url "container-site-surveys" %}" class="dropdown-item">Container Site Survey</a>
                                <a href="{% url "container-painting" %}" class="dropdown-item">Container Painting</a>
                                <a href="{% url "container-dimensions" %}" class="dropdown-item">Container Dimension</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="footer-link">
                                <h2>Useful Pages</h2>
                                <a href="{% url 'modification' %}">Modifications</a>
								<a href="{% url 'containers-for-sale' %}">Container Sales</a>
								<a href="{% url 'deliveries' %}">Deliveries</a>
                                <a href="{% url 'faq' %}">FAQ</a>
                                <a href="{% url 'contact' %}">Contact</a>
                                <a href="{% url 'quotation' %}">Get A Quote</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="newsletter">
                                <h2>Newsletter</h2>
                                <p>
                                    Subsribe to our newslatters to recieve updates from us and all new offers
                                </p>
                                <div class="form">
                                    <input class="form-control" placeholder="Email here">
                                    <button class="btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2023<a href="index.html"> Box Bulk Containers Pty Ltd</a> - All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p><a href="index.html">Box Bulk Containers</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static "lib/easing/easing.min.js" %}"></script>
        <script src="{% static "lib/wow/wow.min.js" %}"></script>
        <script src="{% static "lib/owlcarousel/owl.carousel.min.js" %}"></script>
        <script src="{% static "lib/isotope/isotope.pkgd.min.js" %}"></script>
        <script src="{% static "lib/lightbox/js/lightbox.min.js" %}"></script>
        <script src="{% static "lib/waypoints/waypoints.min.js" %}"></script>
        <script src="{% static "lib/counterup/counterup.min.js" %}"></script>
        <script src="{% static "lib/slick/slick.min.js" %}"></script>

        <!-- Template Javascript -->
        <script src="{% static "js/main.js" %}"></script>
		<!-- GetButton.io widget -->
        <script type="text/javascript">
            (function () {
                var options = {
                    whatsapp: "+{{ owner.mobile_number }}", // WhatsApp number
                    call_to_action: "Message us", // Call to action
                    position: "left", // Position may be 'right' or 'left'
                };
                var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
                s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
                var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            })();
        </script>
        <!-- /GetButton.io widget -->
    </body>
</html>